*{
    font-family: 'montserrat', sans-serif;
    width: 600px;
    margin: auto;
    padding: 0;
    box-sizing: border-box;

}
hr{
    width: 100px;
    height: 4px;
    background: #EEEEFF;
    border: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.btn{
    border: none;
    background: linear-gradient(90deg, #EE1122, 45%, #990000 75%);
    color: white;
    border-radius: 5px;
    width: 225px;
    height: 50px;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding: 10px;
    }
.btn:hover{
    cursor: pointer;
    color: rgb(255, 215, 215);
}
.btn span{
    width: fit-content;
}
.btn span a{
    display: flex;
    align-items: center;
    width: fit-content;
    color: #fff;
    font-size: 14px;
}
.btn span a img{
    margin-left: 20px;
    width: fit-content;
}

/* responsivo */

@media (max-width: 900px){
    *{
        width: 100%;
        }
    section.boleto-disponivel{
        height: 150px !important;
    }
    section.saudacoes div.saudacoes-subtitle{
        width: fit-content;
        line-height: 25px;
        font-size: 16px;
    }
}

/* header */

section.header{
    display: flex;
    background: #fff;
    justify-content: center;
}
section.header header.logo{
    width: 100px;
  }
section.header header.logo img{
    height: 100px;
    width: 100px;
    padding: 10px 10px;
}
section.header nav.title{
  width: auto;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #222233;
}

/* boleto-disponivel  */

section.boleto-disponivel{
    height: 100px;
    background: linear-gradient(90deg, #24459D 1.78%, #5365EB 115.03%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #EEEEFF;
}
section.boleto-disponivel div.boleto-title{
    font-weight: 700;
    font-size: 28px;
}
section.boleto-disponivel div.boleto-subtitle{
    margin-top: 5px;
    font-size: 16px;
}
section.boleto-disponivel div.boleto-subtitle span.mes-referencia{
    font-weight: 700;
}

/* saudações */

section.saudacoes{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}
section.saudacoes div.saudacoes-title{
    font-weight: 700;
    font-size: 24px;
    color: #001199;
}
section.saudacoes div.saudacoes-subtitle{
    width: 450px;
    margin-top: 10px;
    font-weight: 400;
    line-height: 30px;
    color: #224499;
}
section.saudacoes div.saudacoes-vencimento{
    margin-top: 10px;
    font-size: 16px;
    color: #224499;
}
section.saudacoes div.saudacoes-vencimento span{
    font-weight: 700;
}

/* divulgação do cabemce-app */

section.cabemce-app{
    margin-top: 40px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;

}
section.cabemce-app div.app-titulo{
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    width: 440px;
    margin-left: 5px;
    color: #001199;
}

section.cabemce-app div.app-list-total{
    display: flex;
    width: 600px;
}

section.cabemce-app ul.app-list{
    width: 175px;
    color: #224499;
}

section.cabemce-app ul.app-list{
    font-size: 18px;
    margin-top: 10px;

}

section.cabemce-app ul.app-list li{
    display: flex;
    margin-top: 25px;
}
section.cabemce-app ul.app-list li > span{
    margin-left: 10px;
    font-size: 18px;
}
section.cabemce-app ul.app-list li img{
    width: fit-content;
}
section.cabemce-app div.app-img{
    display: flex;
    margin-top: 3px;
    margin-bottom: 0;
    position: relative;
    top: 38px;
}
section.cabemce-app div.app-img img{
    width: 600px;
    height: 300px;
}

/* seção da atualização cadastral */

.background-blue{
    height: 250px;
    background: linear-gradient(90deg, #24459D 1.78%, #5365EB 115.03%);
    
    margin-top: -12px;

    text-align: right;
    position: absolute;

    width: 600px;
}

section.atualizacao-cadastral{
    height: 238px;
    margin-top: 30px;
}

section.atualizacao-cadastral .quote-lgpd{
    color: #F2F2FF;
    font-size: 10px;
    text-align: left;
    margin-left: 20px;
    position: relative;
    top: 85%;
    display: flex;
}

section.atualizacao-cadastral .quote-lgpd img{
    width: fit-content;
}

section.atualizacao-cadastral .cx-att-cadastral{
    color: #F2F2FF;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 20px;
    margin-left: -20px;
}

section.atualizacao-cadastral .cx-att-cadastral .cx-att-titulo h2{
    font-size: 24px;
    text-align: right;
    width: 330px;
    margin-right: 0;
}
section.atualizacao-cadastral .cx-att-cadastral .cx-att-subtitulo{
    text-align: right;
    margin-top: 5px;
    width: 300px;
    margin-right: 5px;
}
section.atualizacao-cadastral .cx-att-cadastral .cx-att-button{
    margin-top: 20px;
}

/* seção formas de retirada  */

section.formas-de-retirada{
    background: #EEEEFF;
    height: 500px;
}
section.formas-de-retirada .retirada-title h2{
    position: relative;
    top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #224499;
}

section.formas-de-retirada .retirada-cards-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: 15px;
}

section.formas-de-retirada .retirada-cards-main .retirada-cards{
    width: 250px;
    height: 320px;
    background: #fff;
    border-radius: 3px;
    margin: 30px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 4px 2px rgba(136, 136, 153, 0.04);
}

section.formas-de-retirada .retirada-cards-main .retirada-cards .card-title {
    width: fit-content;
    margin-top: 15px;
    color: #224499;
}
.card-title span {
    font-weight: 700;
    font-size: 22px;
}
.card-subtitle{
    width: fit-content;
    margin-top: 5px;
}
.card-subtitle span {
    font-size: 14px;
    color: #224499;
}
.card-img{
    width: fit-content;
    margin-top: 10px;
}
.card-img img {
    width: 200px;
    height: 160px;
}
.card-btn{
    width: fit-content;
    margin-top: 10px;
}

.card-info{
    text-align: center;
    width: 450px;
}
.card-info span{
    font-size: 12px;
    color:  #224499;
}
.card-info span a{
    text-decoration: underline;
    font-weight: 700;
}
.card-info span a:active{
    color: #224499;
}

/* seção de informe */

section.quote-info{
    display: flex;
}

section.quote-info .quote-info-bg{
    width: 600px;
    height: 150px;
    background: #F2F2FF;
    box-shadow: -3px 9px 8px 0px rgb(0 0 0 / 10%), 0px 4px 4px 2px rgb(136 136 153 / 4%);
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    color: #1E1E1E;
}
.quote-icon{
    width: fit-content;
    margin-left: 15px;
}
.quote-info-bg .quote-icon img{
    width: 80px;
}
.quote-title{
    margin-left: 15px;
}
.quote-title span:first-child {
    font-weight: 700;
    font-size: 18px;
}
p.quote-subtitle {
    font-size: 14px;
    line-height: 1.45em;
    width: 450px;
    margin-left: 0;
    margin-top: 2px;
}

/* Seção Rodapé */

ul.important-list{
display: flex;
margin-top: 30px;
margin-bottom: 30px;
font-size: 14px;
}
ul.important-list li{
    width: fit-content;
}
ul.important-list li a{
    color: #224499;
}
ul.important-list li a:hover {
    color: #bb070e;
}
ul.important-list img{
    width: fit-content;
}

blockquote.warn-email{
    margin: 0;
}
blockquote.warn-mail p {
    width: 65%;
    color: #999;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    line-height: 1.4em;
}